# setup.py files
MANIFEST
dist
rnasieve.egg-info

# Mac files
.DS_Store

# Jupyter notebook files
rnasieve/__pycache__/
examples/__pycache__/
examples/.ipynb_checkpoints/

# Example data
example_data/
